---
import "../styles/global.css";
---
<body>
    <section class="flex">
        <h1>AskExperts</h1>
        <div></div>
        <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
    </section>
</body>

<style>
    section{
        background-color: var(--h1);
        padding-top: 46px;
        padding-bottom: 46px;
    }
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
    div{
       margin-top: 36px;
       margin-bottom: 36px;
    width: 1200.016px;
    height: 1px;
        background-color: #707070;
    }

    h1{
        color: #FFF;
font-size: 30px;
line-height: 1.05%; /* 31.5px */
    }
    p{
        color: #FFF;
    }
  
</style>