---
import "../styles/global.css";
---
<body>
    <div class="grid_1-1-1">
    <section >
        <div class="flexer">
        <div>
    <h1>Subscribe Our Newsletter</h1>
    <p>Build stronger Customer Relationships with Consultalk</p>
</div>
<div class="flex">
    <form action="#">
        <label for="mail">
        <input type="text" value="your mail address">
    </label>
    </form>
    <button>
        <a href="#">Subscribe</a>
    </button>
</div>
</div>
</section>
</div>
</body>

<style>


    :root {
  --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
    }
    section{
        padding: 55px;
        background-color: var(--background);
        border-radius: 20px;
        position: relative;
        overflow: hidden;
  ::before {
    --square-count: 10;
    --square-size: 2.5rem;
    
    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: 1;
    content: '';
    position: absolute;
    inset: -300px -190px auto auto;
    rotate: 45deg;
    /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
    inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
    aspect-ratio: 1;
    background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
    /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
  }
 
  &::after {
    content: '';
    position: absolute;
    right: -4rem;
    bottom: -10rem;
    background: #4EAF4E;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    z-index: 1;
    rotate: 45deg;
  }
    }

.flexer{
    display: flex;
    justify-content: space-between;
    gap: 14px;
    white-space: nowrap;
}
.grid_1-1-1{
    display: grid;
     /*  grid-template-rows: auto 1fr auto; */
      grid-template-columns:
        [full-start] 1fr [content-start] minmax(0, 1100px)
        [content-end] 1fr [full-end];
        margin-bottom: 100px;
        margin-top: 100px;
      * {


grid-column: content;
}
}


h1{
color: #FFF;
font-size: 35px;
font-weight: 700;
margin-bottom: 12px;
white-space: nowrap;
}

p{
    color: #FFF;
}

input{
    color: #A9A9A9;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 33px;
    margin-right: 155px;
}

form{
    background-color: #FFF;
    border-radius: 54px;
    align-items: center;
    height: fit-content;
}

a{
    color: var(--h1);
    text-decoration: none;
}

button{
    background-color: var(--primary);
    padding: 15px 45px;
    border-radius: 42px;
    z-index: 2;
    height: fit-content;
}

.flex{
    display: flex;
    gap: 10px;
}

</style>