---
import "../styles/global.css"
---

<section class="grid_2-1-1">
    <div class="flex">
<div class="flex">
    <p class="knap">Proccess</p>
    <h1>Contact Us. It’s Easy.</h1>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
</div>
<div>
    <dl class="grid_1-1">
        <div><img src="/src/icons/telefon.svg" alt="tlf"></div><div class="flex2"><dd>Call Today</dd><dt>+1 800 100 900</dt></div>
        <div><img src="/src/icons/time.svg" alt="tid"></div><div class="flex2"><dd>Monday To Friday</dd><dt>9AM - 5PM</dt></div>
        <div><img src="/src/icons/location.svg" alt="lokation"></div><div class="flex2"><dd>USA Office</dd><dt>195 Devonshire St Boston, MA 02110</dt></div>
    </dl>
</div>
</div>
<div class="grid_1-1fr">
    <img class="img1" src="/src/assets/images/curly.jpg" alt="kvinde med krøller">
    <img class="img3" src="/src/assets/images/thinking.jpg" alt="tanker">
    <img class="img2" src="/src/assets/images/jamesbond.jpg" alt="hænder">
</div>
</section>

<style>
    .grid_2-1-1{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 69px;
        margin: 50px;
        align-items: center;
        justify-content: center;
    }

dl img{
    max-width: 52px;
}

.grid_1-1fr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap:15px ;
    height: 500px;
}

.img1{
    display: grid;
    grid-row: 1/span 2;
    grid-column: 1/2;
    align-self: end;
    height: 515px;
}
.img2, .img3{
    display: grid;
    grid-column: 2 / -1;
    align-self: stretch; 
    height:250px;
    align-self: end;
}

.img2{
    grid-row: 2 / 3;
}

.img3{
    grid-row: 1 / 2;
}

.img1, .img2, .img3{
    border-radius: 20px;
    width: 300px;
}

.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 56px;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.flex2{
    display: flex;
    flex-direction: column;
}
.knap{
border-radius: 20px;
background-color: #FFCC4A;
padding: 0px 11px;
color: var(--h1);
text-align: center;
font-family: "Lato";
font-size: 16px;
font-weight: 400;
letter-spacing: 2.32px;
text-transform: uppercase;
width: fit-content;
}
h1{
    color: var(--h1);
font-size: 45px;
font-weight: 700;
}
</style>