---
const {title = ""}= Astro.props;
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - AskExperts</title>
	</head>
	<body>
        <!-- <Header/> -->
        <main>
		<slot/>
    </main>
        <!-- <Newsletter/>
        <Footer/> -->
	</body>
</html>

<style>

</style>

<script>
	document.addEventListener("DOMContentLoaded", function() {
	  const popup = document.getElementById("popup");
	  const loginButton = document.querySelector("button[popovertarget='popup']");
	  
	  loginButton.addEventListener("click", function() {
		popup.style.display = "block";
	  });
	  
	  // Optional: Add functionality to close the popup
	  popup.addEventListener("click", function(e) {
		if (e.target === popup) {  // Klik uden for pop-up boksen lukker den
		  popup.style.display = "none";
		}
	  });
	});

	loginButton.addEventListener("click", function() {
  popup.style.display = "block";
  document.body.classList.add("popup-active");
});

popup.addEventListener("click", function(e) {
  if (e.target === popup) {
    popup.style.display = "none";
    document.body.classList.remove("popup-active");
  }
});

  </script>
  
